__pycache__/
noduro_python/
app/node_modules/
python/settings/email.json
build/
dist/
out/
assets/settings/user_settings.json
assets/firebase/firebaseConfig.json
assets/firebase/firebaseAdmin.json
app/assets/lessons/*.mp4

