/* .welcome_div{
    width: 100%;
    height: 100%;
    background-color: var(--background-variant);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
} */


.boxes{
    margin: 0 calc(10*var(--vwh)) calc(10*var(--vwh));
    width: calc(100% - 20*var(--vwh)) ;
    height: fit-content;
    background-color: var(--surface);
    display: flex;
    border-radius: calc(4*var(--vwh));
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    position: relative;
    flex-flow: column nowrap;
    padding: calc(2*var(--vwh));
}