:root {
	--vwh: min(1vw, 1vh);

	--max_screen_width: 1600px;
	--max_screen_height: 1200px;
}

/* Hide the default scrollbar styles */
::-webkit-scrollbar {
	width: 15px;
}

::-webkit-scrollbar-track {
	background-color: rgb(0, 0, 0);
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
	background-color: #565656;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	/* Set a smaller height for the thumb */
}

/* Specify a smaller height for the thumb */
::-webkit-scrollbar-thumb:hover {
	height: 40px; /* Adjust this value to set the height of the thumb when hovered */
}
