/* Add this to your CSS file */

@font-face {
    font-family: "bootstrap-icons";
    src: url("icon/icons.woff") format("woff"),
  url("icon/bootstrap-icons.woff2") format("woff2");
  }
  
  [class^="bi-"]::before,
  [class*=" bi-"]::before {
    display: inline-block;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: text-bottom;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .bi-question::before { content: "\f4e5"; }

@media (prefers-color-scheme: light) {
    :root {
        --bg : #2c2a26;
        --text: #aba18f;
        --bg_hover: #242322;
        --bg_active: #000000;

    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg : #aba18f;
        --text: #2c2a26;
        --bg_hover: #cbbfa9;
        --bg_active: #ffffff;
    }
}
    

#contactButton {
    background-color: var(--bg);
    color: var(--text);
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    border:0;
    min-height:50px;
    height: 4vh;
    width: 4vh;
    min-width: 50px;
    display: flex;
    justify-content: center;
    padding:0;
    transition: all 0.3s ease-in-out;
}
.contact-icon{
    font-size: calc(30px + 3vh);
    align-self: center;
    padding:0;
    margin:0;
}
#contactButton:hover {
    transform: scale(1.2);
    background-color: var(--bg_hover);
}

#contactButton:active {
    transform: scale(1.4) rotate(15deg);
    background-color: var(--bg_active);
}