/* @import url("https://fonts.googleapis.com/css?family=Poppins"); */
@import url('https://fonts.googleapis.com/css2?family=Poppins');
@import url("https://fonts.googleapis.com/css2?family=Anuphan&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

:root {
  /* --main: rgb(237,242,247);
  --background: rgb(223,197,216);
  --darker-color:  rgb(41x,71,114);
  --lighter-color:   rgb(153,163,192); */
  --background: #efe5d1;
  --main: #c6b690;
  --main-margin: 1vh;
  --main-div: 85vh;
  --popup_bg : rgb(0,0,0);
  --info_bg : #c6b690;
  --bottom_bg : #e1d4b9;
  --buttons-size: calc(40px + 0.5vw);
  --bottom-font-size: calc(12px + 2.5vw);
  --accordion_bg: #efe5d1;
  --accordion_color: #32302d;
  --accordion_hover_bg: #746a53;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/* @keyframes wobble {
  0% { transform: translateX(0); }
  15% { transform: translateX(-2px) rotate(-5deg); }
  30% { transform: translateX(2px) rotate(3deg); }
  45% { transform: translateX(-1px) rotate(3deg); }
  60% { transform: translateX(1px) rotate(-2deg); }
  75% { transform: translateX(-0.5px) rotate(2deg); }
  100% { transform: translateX(0); }
} */


html,body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background: var(--background);
  overflow: hidden;

}


.main_div, .overlay{
  padding: 0;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-flow:row nowrap;
  border-radius: 2vh;
  background-color: var(--main);
  position: absolute;
  top: var(--main-margin);
  left: var(--main-margin);
  right: var(--main-margin);
  height: var(--main-div);
}
.overlay{
  z-index: 10; /* set a high z-index value */
  justify-content: center; /* center items horizontally */
  align-items: center; /* center items vertically */
  overflow: hidden;
}

.loading_container {
  position: absolute; /* add position absolute to the loading container */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loading_text {
  font-family: "Anuphan", sans-serif;
  font-size: 2rem;
  color: white;
  margin-left: 1rem;
}

.loading_circle {
  border: 0.2rem solid rgba(255, 255, 255, 0.2);
  border-top: 0.2rem solid white;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  animation: spin 1s linear infinite;
}

.big_icon{
  font-size: var(--buttons-size);
  line-height: 0;
}

.go_back, .reload,  .info_button {
  z-index: 9999;
  position: absolute; /* add position absolute to the go-back button */
  padding:0;
  top: calc(2 * var(--main-margin));
  left: calc(2 * var(--main-margin));
  width: var(--buttons-size);
  height: var(--buttons-size);
  border-radius: 50%;
  background-color: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.go_back:hover, .reload:hover, .info_button:hover {
  background-color: var(--main);
  transform: scale(1.1);
}

.go_back:active{
  transform: scale(1.3) rotate(90deg);
}
.reload{
  top: calc(3 * var(--main-margin) + var(--buttons-size));
}
.reload:hover{
  transform: scale(1.1) rotate(30deg);
}
.reload:active{
  transform: scale(1.3) rotate(360deg);
  transition: all 0.5s ease-in-out;
}


.video_div {
  flex: 1; /* set equal width for both columns */
  height: 100%;
  width: 45%;
  padding: 0;
  position: relative; /* add position relative to the parent div */
  z-index: 1;
  border-radius: 2vh 0 0 2vh;

}

.camera_div {
  flex: 1; /* set equal width for both columns */
  height: 100%;
  width: 45%;
  padding: 0;
  z-index: 1;
  border-radius: 0 2vh 2vh 0;
  overflow: hidden;
  display: flex;
  position: relative;
}
.camera_div canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
}
.canvas, .video_element{
  width: 100%;
  height: 100%;
  object-fit: cover; /* optional - this will ensure the video fills the entire div without distortion */
}
.video_element{
  border-radius: inherit;
}
#results_overlay{
  z-index: 3;
  background:transparent;
}
#output_video{
  z-index: 2;
}

.input_video {
  width: 0px;
  height: 0px;
  display: none;
  position: absolute;
  opacity: 0;
}


.overlay_video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* optional - this will ensure the video fills the entire div without distortion */
  border-radius: 2vh;
  z-index: -1;
  opacity: 1;
  filter: blur(15px) brightness(50%);
  transition: opacity 0.5s ease-in-out, visibility 0s linear 0.5s;
  visibility: visible;
}

/* .overlay-video::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  filter: blur(5px);

} */

.hidden {
  opacity: 0;
  visibility: hidden;
  transition: opacity 2s ease-in-out, visibility 2s linear;
}

.video_playbar{
  z-index: 3;
  position: absolute;
  bottom:0;
  left:0;
  right:0;
  height: 5vh;
  min-height: 25px;
  opacity: 0;
  background-color: var(--popup_bg);
  transition: opacity 0.4s ease-in-out;
  transition-delay: 15s; /* delay the transition back to the original state by 1 second */
  display: flex;
  padding: 0 0.5vw;
  border-radius: 0 0 2vh 2vh;
}

.video_playbar button{
  background: none;
  border: none;
  outline: none;
  padding: 0;

}
.video_playbar button i{
  color: white;

}
.video_playbar:hover{
  opacity: 0.8;
  transition-delay: 0s; /* delay the transition back to the original state by 1 second */

}
.timeline_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #ccc;
}

.timeline_container .timeline_clickable {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20px;
}
.timeline_container .timeline_progress {
  position: absolute;
  top: 0;
  left: 0;
  height: 5px;
  background-color: #f00;
  width: 0;
  transition: width 0.1s linear;
}
.timeline_container .timeline_split {
  position: absolute;
  background-color: #444;
  width: 5px;
  height: 5px;
  top:0;
}




.info_button{
  left:calc(-2 * var(--main-margin) - var(--buttons-size));
  right: auto;
  transition: all 1s ease-in-out;
  position:absolute;
}
.info_button:hover{
  transition: all 0.4s ease-in-out;
}
.info_button:active{
  transform: scale(1.3);
}
.info_div{
  position:absolute;
  box-sizing: border-box;
  top:0;
  right: calc(-450px - 12vw);
  width: calc(450px + 12vw);
  height: calc(var(--main-div) + 1 * var(--main-margin));
  border-top-left-radius: 3vh;
  border-bottom-left-radius: 3vh;
  transition: all 1s ease-in-out;
  z-index: 11;
  background-color: var(--info_bg);
  padding-bottom: 1vh;
  margin: 0;
}
.info_accordion{
  position:relative;
  margin-left: 2vw;
  margin-right: 2vw;
  overflow-y: scroll;
  top: 8vh; /* set max-height to height of containing div */
  bottom: 4vh;
  max-height: calc(var(--main-div) + 1 * var(--main-margin) - 12vh);
  border-radius: 1vh;
}
.info_accordion::-webkit-scrollbar {
  display: none;
}

.info_div_active{
  right: 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.info_button_active{
  left: calc(2 * var(--main-margin));
  transform: scale(1);
}
.accordion p {
  padding: 2vh;
}


.bottom_div {
  padding: 0.3vw;
  justify-content: center;
  display: flex;
  align-items: space-between;
  flex-flow:row nowrap;
  border-radius: 2vh;
  background-color: var(--main);
  position: absolute;
  bottom: var(--main-margin);
  left: var(--main-margin);
  right: var(--main-margin);
  height: calc(100vh - var(--main-div) - 3 * var(--main-margin));
}
.bottom_div div{
  border-radius: 2vh;
  background: var(--bottom_bg);
  height: 100%;
  align-items: center;
  margin-right: 0.3vw;
  display: flex;
  justify-content: center;
  flex-flow: row nowrap;
}
.bottom_div div h1{
  font-size: var(--bottom-font-size);
  white-space: nowrap;
}
.bottom_div div p{
  font-size: calc(var(--bottom-font-size) / 2 );
  font-weight: 800;
  white-space: nowrap;
  padding: 5px;
}
.bottom_div div:last-child{
  margin-right: 0;
}


.bottom_div .two{
  flex: 1 1;

}
.bottom_div .three{
  flex: 1 1;


}
.bottom_div .four{
  flex: 2 0;


}


.accordion {
  border-radius: 1vh;
  overflow: hidden;
  height: 6vh;
  background-color: var(--accordion_bg);
  color: var(--accordion_color);
  z-index: 0;
  transition: height 0.5s ease-in-out;
  position: relative;
  margin-bottom: 1vh;


}

.accordion button {
  display: flex;
  align-items: center;
  border-radius: 1vh;
  cursor: pointer;
  /* margin-bottom: 1vh; */
  width: 100%;
  height: 6vh;
  border: none;
  text-align: left;
  top: 0;
  z-index: 2;
  position: absolute;
  background-color: var(--accordion_bg);
  transition: color 0.4s ease-in-out;
  font-size: calc(10px + 1vh);
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

.accordion button:hover {
  background-color: var(--accordion_hover_bg);
}

.accordion div{
  position: absolute;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  z-index: 1;
  height:fit-content;
}
/* .info-div .div-active{
  height: 16vh;
} */
.accordion .active{
  top: 6vh;
  bottom: 0;
  height:fit-content;

}

.capitalize {
  text-transform: capitalize;
}
